<div class="nav-bar">
  <%= link_to "Wikinimous", articles_path %>
  <%= link_to "New article", new_article_path(@article) %>
</div>

<div class="container">
  <div class="new-article">
    <h1>New article</h1>
    <%= render "form", article: @article %>
  </div>

  <div class="buttons">
    <button class="btn btn-light"><%= link_to 'Back', articles_path %></button>
  </div>
</div>
