/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #337ab7;
  font-weight: 400;
}

 .nav-bar {
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    line-height: 20px;
    box-sizing: border-box;
 }

 .nav-bar a{
    color: #333333;
    font-size: 18px;
 }

 .article a {
  color: #337ab7;
  font-size: 30px;
  font-family: "Roboto Slab";
  font-weight: 400;
 }

 .article a:hover{
  text-decoration: underline;
 }

 .article-head {
  display: flex;
 }

 .article-head h1{
  color: black;
  font-size: 36px;
  font-family: "Roboto Slab";
  font-weight: 400;
  margin-right: 10px;
 }
